<%= @blocks["boilerplate_top"].gsub("%title%", @project["title"]) %>
<%= @blocks["project_masthead"].sub("%title%", @project["title"]) %>

<%=
    if @project["screenshots"].length == 2
   
        @blocks["screenshots-two"]
        .gsub("%path_1%", @project["screenshots"][0])
        .gsub("%path_2%", @project["screenshots"][1])
        .gsub("%thumbnail_1%", @project["thumbnails"][@project["screenshots"][0]])
        .gsub("%thumbnail_2%", @project["thumbnails"][@project["screenshots"][1]])
   
    elsif @project["screenshots"].length == 3
   
        @blocks["screenshots-three"]
        .gsub("%path_1%", @project["screenshots"][0])
        .gsub("%path_2%", @project["screenshots"][1])
        .gsub("%path_3%", @project["screenshots"][2])
        .gsub("%thumbnail_1%", @project["thumbnails"][@project["screenshots"][0]])
        .gsub("%thumbnail_2%", @project["thumbnails"][@project["screenshots"][1]])
        .gsub("%thumbnail_3%", @project["thumbnails"][@project["screenshots"][2]])
    end
%>
    
<%=
    if @project["screenshots"].length != 0
        "<br>"
    end   
%>

<div class="column-inner">
    <%= @project["body"] %>
</div>

<%= @blocks["boilerplate_bottom"] %>
