<%= @blocks["boilerplate_top"] %>
<%= @blocks["project_masthead"].sub("%title%", @data["projects"]["poshrevo"]["title"]) %>

PoŝReVo is an Esperanto dictionary app, available now for iPhone and iPad. You can download it from the Apple App Store.

The source code is available and can be freely read, copied, changed, redistributed, and sold. That code is available here, and is distrubted under the GPLv2 License.

The dictionary data is supplied by La Reta Vortaro.
Icons by icons8.

If you need help, encounter an error, or have any comments about the app, please contact by email at this address.

<%= @blocks["boilerplate_bottom"] %>
