body {
    background-color:rgb(23, 23, 60);
    color: rgb(230, 230, 210);
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14pt;
    background-image: url("resources/images/upper.png"), url("resources/images/lower.png");
    background-repeat: repeat-x;
    background-position: top, bottom;
    margin: 0px;
    padding: 0px 0px 120px;
}

.top-spacer {
    height: 120px;
}

.page-title {
    font-size: 30px;
}

a {
    color: rgb(40, 233, 84);
    text-decoration: underline;
}

ul {
    line-height: 150%;
}

.column {
    padding: 0px 15% 20px;
    min-width: 400px;
}

.column-inner {
    padding: 0px 5% 0px;
    min-width: 300px;
}

table {
    font-size: 15pt;
    width: 100%;
}

table.menu td {
    width: 33%;
    text-align:center
}

table.three-columns td {
    width: 33%;
    padding: 10px 30px 10px;
}

table.three-columns img {
    width: 230px;
    height: 160px;
    margin-top: 5px;
    
    border-width: 2px;
    border-style: none none solid none;
    border-color: rgb(40, 233, 84);
}

p.caption {
    margin: 8px auto 0px;
    font-size: 10pt;
    text-align: right;
    font-style: italic;
}

p.caption-center {
    margin: 0px 0px 8px;
    font-size: 10pt;
    text-align: center;
    font-style: italic;
}

p.language-prompt {
    margin: 0px 0px 8px;
    font-size: 10pt;
    text-align: left;
    font-style: italic;
}

.screenshots-frame {
    text-align: center;
    margin: auto auto 0px;
}

div.screenshots-two {
    width: 532px;
    padding: 8px 16px 4px;
}

div.screenshots-three {
    width: 830px;
    padding: 8px 10px 4px;
}

table.three-columns td {
    width: 33%;
    padding: 10px 30px 10px;
}

.screenshots-two img {
    width: 230px;
    height: 160px;
    margin: 16px auto 8px;
    display: block;
    object-fit: cover;
    
    border-width: 2px;
    border-style: none none solid none;
    border-color: rgb(40, 233, 84);
}

.screenshots-three img {
    width: 230px;
    height: 160px;
    margin: 16px auto 8px;
    display: block;
    object-fit: cover;
    
    border-width: 2px;
    border-style: none none solid none;
    border-color: rgb(40, 233, 84);
}