<%= @blocks["boilerplate_top"].gsub("%title%", "Hire Me") %>
<%= @blocks["masthead"] %>

<p>
I am a software developer with over six years of industry experience, versed in a variety of systems and languages.
I've spent the last several years creating professional quality iPhone and iPad apps, both individually and as a member of professional teams big and small. I've also gained experience developing web sites, and working with web backends and APIs.
</p>
<ul>
<li>Read my <a href="/resources/files/Robin_Hill_Resume_Public.pdf">full resume</a>.</li>
<li>Find me on <a href="https://www.linkedin.com/in/robin-hill-81489157/">LinkedIn</a>.</li>
<li>See the projects I've created and contributed to on <a href="https://www.github.com/inthescales">Github</a>.</li>
<li>See my <a href="https://itunes.apple.com/us/developer/robin-hill/id1093321927">iOS apps</a>.</li>
<li>See projects I've released on <a href="https://inthescales.itch.io">my itch.io page</a>.</li>
</ul>
    
<%= @blocks["boilerplate_bottom"] %>