<%= @blocks["boilerplate_top"].gsub("%title%", "Contact") %>
<%= @blocks["masthead"] %>

<br>
You can contact me in the following ways:
<ul>
    <li>email: <a href="mailto:robin@inthescales.com">robin@inthescales.com</a></li>
</ul>
<br>
You can find my work on other sites and platforms:
<ul>
    <li><a href="http://www.github.com/inthescales">github</a></li>
    <li><a href="http://inthescales.itch.io">itch.io</a></li>
    <li><a href="https://itunes.apple.com/us/developer/robin-hill/id1093321927">Apple app store</a></li>
</ul>
<br>
    
<%= @blocks["boilerplate_bottom"] %>
