<%= @blocks["boilerplate_top"].gsub("%title% - ", "") %>    
<%= @blocks["masthead"] %>
    
        <div class="column-inner">
            <p>
                Hello!
                <br><br>
                I'm a professional software developer, currently living in Brooklyn, New York. I'm interested in various forms of computer-driven art and creativity, including video games, procedural generation, and bots.
                <br><br>    
                The things I've made are here on this site. I hope you enjoy!
                <br><br>
                - Robin
                <img style:"display: block; margin: auto;" src="resources/images/swatch_small.png">
            </p>
        </div>

<h2>games</h2>
        <table class="three-columns">
            <tr>
                <td>
                    <a href="projects/the-lonely-dwarves">The Lonely Dwarves
                        <br>
                        <img class="three-tile" src="/resources/images/image_dwarves.png">
                    </a>
                    <p class="caption">Four dwarves save the world.<br>iOS RPG from Spazcosoft.<br></p>
                </td>
                <td><a href="projects/bedzone">Bedzone<br>
                    <img class="three-tile" src="/resources/images/image_bedzone.png">
                    </a>
                    <p class="caption">Spend time in bed.<br>Made for Self Care Jam 2016.</p>
                </td>
                <td><a href="projects/fermi-patrol">Fermi Patrol<br>
                    <img class="three-tile" src="/resources/images/image_fermi.png">
                    </a>
                    <p class="caption">Protect humanity from alien life.<br>Made for FermiJam 2016.</p>
                </td>
            </tr>
        </table>

        <h2>procedural generation & bots</h2>
        <p>
            <a href="projects/lyres-dictionary">Lyre's Dictionary</a><br>
            Generates novel English words.
        </p>
        <p>
            <a href="projects/required-reading">Required Reading</a><br>
            Generates random textbook titles.
        </p>
        <p>
            <a href="pages/bone-nine">Bone-Nine Name Generator</a><br>
            Procedural fan art for <a href="http://tamsynmuir.com/">Tamsyn Muir</a>'s <a href="https://en.wikipedia.org/wiki/Gideon_the_Ninth">Gideon the Ninth</a>. Name your Ninth House OCs.
        </p>
        <p>
            <a href="projects/gorgar-speaks">Gorgar Speaks</a><br>
            Homage to the first talking pinball machine.
        </p>
        <p>
            <a href="projects/barbarella-gif-bot">Barbarella GIF Bot</a><br>
        Posts GIFs from the 1968 film Barbarella.
        </p>

        <h2>tools</h2>
        <p>
            <a href="projects/poshrevo">Poŝa Reta Vortaro</a><br>
            Esperanto dictionary for iOS.
        </p>
        <p>
            <a href="projects/klavaro">Esperanta Klavaro</a><br>
            Esperanto keyboard for iOS.
        </p>
        <p>
            <a href="projects/antiquer">Antiquer</a><br>
            Browser extension that adds diaereses and ligatures to web pages.
        </p>
        
        <h2>writing</h2>
        <p>
            <a href="pages/generative-dictionaries">Generative Dictionaries on the Web</a><br>
            Catalogue of publicly visible generative dictionary projects.
        </p>
        <p>
            <a href="pages/whom-do-you-serve">Whom Do You Serve?</a><br>
            Game developer morality manifesto and holy oath. Made for <a href="https://itch.io/jam/manifesto-jam">Manifesto Jam 2018</a>.
        </p>
        <p>
            <a href="pages/kanjono-taroko">Kanjono Taroko</a><br>
            Esperanto translation of <a href="http://www.nickm.com/">Nick Montfort</a>'s <a href="http://nickm.com/taroko_gorge/">Taroko Gorge</a>.
        </p>

<%= @blocks["boilerplate_bottom"] %>
