<%= @blocks["boilerplate_top"].gsub("%title% - ", "") %>    
<%= @blocks["masthead"] %>
    
        <div class="column-inner">
            <p>
                Hello!
                <br><br>
                I'm a professional software developer, currently living in Brooklyn, New York. I'm interested in various forms of computer-driven art and creativity, including video games, procedural generation, and bots.
                <br><br>    
                The things I've made are here on this site. I hope you enjoy!
                <br><br>
                - Robin
                <img style:"display: block; margin: auto;" src="resources/images/swatch_small.png">
            </p>

        </div>

<h2>games</h2>
        <table class="three-columns">
            <tr>
                <td>
                    <a href="projects/the-lonely-dwarves.html">The Lonely Dwarves
                        <br>
                        <img class="three-tile" src="resources/images/image_dwarves.png">
                    </a>
                    <p class="caption">Four dwarves save the world.<br>iOS RPG from Spazcosoft.<br></p>
                </td>
                <td><a href="projects/bedzone.html">Bedzone<br>
                    <img class="three-tile" src="resources/images/image_bedzone.png">
                    </a>
                    <p class="caption">Spend time in bed.<br>Made for Self Care Jam 2016.</p>
                </td>
                <td><a href="projects/fermi-patrol.html">Fermi Patrol<br>
                    <img class="three-tile" src="resources/images/image_fermi.png">
                    </a>
                    <p class="caption">Protect humanity from alien life.<br>Made for FermiJam 2016.</p>
                </td>
            </tr>
        </table>

        <h2>bots</h2>
        <p>
            <a href="projects/required-reading.html">Required Reading</a><br>
            Generates random textbooks.
        </p>
        <p>
            <a href="projects/gorgar-speaks.html">Gorgar Speaks</a><br>
            Homage to the first talking pinball machine.
        </p>

        <h2>tools</h2>
        <p>
            <a href="projects/poshrevo.html">Poŝa Reta Vortaro</a><br>
            Esperanto dictionary for iOS.
        </p>
        <p>
            <a href="projects/antiquer.html">Antiquer</a><br>
            Browser extension that adds diaereses and ligatures to web pages.
        </p>
        
        <h2>code</h2>
        <p>
            <a href="projects/bot-buddy.html">Bot Buddy</a><br>
            Python module for twitter bot scheduling.
        </p>
        
        <h2>writing</h2>
        <p>
            <a>Whom Do You Serve?</a><br>
            Game developer morality manifesto and holy oath.
        </p>

<%= @blocks["boilerplate_bottom"] %>
