<%= @blocks["boilerplate_top"].gsub("%title%", "Contact") %>
<%= @blocks["masthead"] %>

Here you can learn about my past collaborators:
<ul>
    <li><a href="http://spazcosoft.com">Kirk Spaziani</a></li>
    <li><a href="https://www.bestmiriam.com/">Miriam Nadler</a></li>
</ul>

And here are some links for no reason other than that I like them:
<ul>
  <li><a href="https://llamasandmystegosaurus.blogspot.com/2017/05/alpha.html">Alpha (a Translation of Genesis 1)</li>
  <li><a href="https://www.gwern.net/docs/culture/1983-wolfe-thecitadeloftheautarch-thejustman">Loyal to the Group of Seventeen's Story&mdash;The Just Man</a></li>
</ul>

<%= @blocks["boilerplate_bottom"] %>
