<%= @blocks["boilerplate_top"].gsub("%title%", "Projects") %>
<%= @blocks["masthead"] %>

<h2>games</h2>
        <table class="three-columns">
            <tr>
                <td>
                    <a>The Lonely Dwarves
                        <br>
                        <img class="three-tile" src="resources/images/image_dwarves.png">
                    </a>
                    <p class="caption">Four dwarves save the world.<br>iOS RPG from Spazcosoft.<br></p>
                </td>
                <td><a>Bedzone<br>
                    <img class="three-tile" src="resources/images/image_bedzone.png">
                    </a>
                    <p class="caption">Spend time in bed.<br>Made for Self Care Jam 2016.</p>
                </td>
                <td><a>Fermi Patrol<br>
                    <img class="three-tile" src="resources/images/image_fermi.png">
                    </a>
                    <p class="caption">Protect humanity from alien life.<br>Made for FermiJam 2016.</p>
                </td>
            </tr>
        </table>

        <h2>bots</h2>
        <p>
            <a>Required Reading</a><br>
            Generates random textbooks.
        </p>
        <p>
            <a>Gorgar Speaks</a><br>
            Homage to the first talking pinball machine.
        </p>

        <h2>tools</h2>
        <p>
            <a>Poŝa Reta Vortaro</a><br>
            Esperanto dictionary for iOS.
        </p>
        <p>
            <a>Antiquer</a><br>
            Browser extension that adds diaereses and ligatures to web pages.
        </p>
        
        <h2>code</h2>
        <p>
            <a>Bot Buddy</a><br>
            Python module for twitter bot scheduling.
        </p>
        
        <h2>writing</h2>
        <p>
            <a>Whom Do You Serve?</a><br>
            Game developer morality manifesto and holy oath.
        </p>

<%= @blocks["boilerplate_bottom"] %>
